<launch>
    <!--FIXME: CHANGE THESE TWO LINES TO YOUR ACTUAL SETUP! -->
    <arg name="map_file" default="$(find rallycar)/resources/maps/crane_500_map.yaml" />
    <arg name="path_file" default="$(find rallycar)/resources/paths/crane_500_demo_path.yaml" />

    <node name="user_interface" pkg="rviz" type="rviz" args="-d $(find rallycar)/resources/rviz_configs/build_path.rviz" />
    <include file="$(find rallycar)/launch/load_map.launch">
        <arg name="map_file" value="$(arg map_file)" />
    </include>
    <node name="path_server" pkg="rallycar" type="path_server.py">
        <param name="file_name" value="$(arg path_file)" />
        <param name="mode" value="record" />
    </node>
</launch>
